.modal-content {
	border-radius: 0;
	

}
.modal-body {
	padding: 15px 0px 0px 0px;
}
.modal-header {
	border-bottom: 0;
}
.modal-footer {
	border-top: 0;
	padding: 0;
	
	.btn {
		@include option(loggedin) {
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	a.left {
		text-decoration: underline;
	}
	.left {
		float: left;
		color: white;
		font-size: $font-size-large;
		background: darken($theme-gray,20%);
		padding: $padding-large-vertical $padding-large-horizontal;
		line-height: $line-height-large;

		&:nth-child(2) {
			background: darken($theme-gray,10%);
		}

		&:nth-child(3) {
			background: $theme-gray;
		}
	}


}