script(type="text/template", id="how-template")
	.container(style="margin-bottom:100px;")
		.row.mt20
			h1.text-center(class="+txtshadow") How it works ?
		.row.mt20
			h1.text-center(class="+txtshadow") 1. Check our 
				a(href="#/categories" class="+txtunderline") categories!
		.row.mt20
			h1.text-center(class="+txtshadow") 2. If you can't find what you want just make it 
				a(href="http://shapesmith.net/" class="+txtunderline") here !

		.row.mt20(style="text-align:center")
			a(href="http://shapesmith.net/")
				img(src="images/shapesmith.png", alt="shapesmith", width=600)
		.row.mt20
			.text-center(class="+txtshadow +txtwhite") There you can create your own model, download a stl file and upload it here.
		
		.row.mt20
			h1.text-center(class="+txtshadow") 3. 
				a(href="#/register" class="+txtunderline") Sign up !
		.row.mt20
			h1.text-center(class="+txtshadow") 4. After Log in, find "Print Your model" section !
		.row.mt20
			h1.text-center(class="+txtshadow") 5. Upload Your Model !
		.row.mt20.text-center
			.m3d-upload.btn(style="cursor:default;").btn-lg
				i.fa.fa-cloud.m3d-upload__icon
				span Print Your model section

		.row.mt20(style="margin-top:40px;")
			h1.text-center(class="+txtshadow") 6. Finish order !

		.row.mt20(style="text-align:center")
			img(src="images/cart.png", alt="shapesmith", width=600)
