<!DOCTYPE html>
html#csstyle(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="css/app.css")
	link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext")
body
	
	nav(role="navigation").navbar.navbar-default
		.container
			.row
				.col-lg-12
					.navbar-header
						button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle.collapsed
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a(href="/" ).navbar-brand
							img(src="/images/logo_sm.png", alt="")
							img(src="/images/logo2_sm.png", alt="")
					.collapse.navbar-collapse.navbar-ex1-collapse.pull-right
						ul.nav.navbar-nav 
							li: a(href="howitworks.html") How it works
							li.active: a(href="categories.html") Categories
							li: a(href="print.html") Print Your Model
							li: a(href="signup.html") Sign up
							li: a(href="login.html") Login

	.container
		.row
			.col-lg-12
				h2 Categories
		.row
			.col-md-3.col-sm-6.mt30
				.m3d-tile
					a(href="").m3d-tile__content
						img(src="/images/models/lorempixel.jpg").img-responsive
					.m3d-tile__info.--badge
						span.left Cars
						span.right 10
			.col-md-3.col-sm-6.mt30
				.m3d-tile
					a(href="").m3d-tile__content
						img(src="/images/models/lorempixel-1.jpg").img-responsive
					.m3d-tile__info.--badge
						span.left Robots
						span.right 2
			.col-md-3.col-sm-6.mt30
				.m3d-tile
					a(href="").m3d-tile__content
						img(src="/images/models/lorempixel-2.jpg").img-responsive
					.m3d-tile__info.--badge
						span.left Jewelery
						span.right 17
			.col-md-3.col-sm-6.mt30
				.m3d-tile
					a(href="").m3d-tile__content
						img(src="/images/models/lorempixel-3.jpg").img-responsive
					.m3d-tile__info.--badge
						span.left Toys
						span.right 16
			.col-md-3.col-sm-6.mt30
				.m3d-tile
					a(href="tools.html").m3d-tile__content
						img(src="/images/models/lorempixel-4.jpg").img-responsive
					.m3d-tile__info.--badge
						span.left Tools
						span.right 8
			.col-md-3.col-sm-6.mt30
				.m3d-tile
					a(href="").m3d-tile__content
						img(src="/images/models/lorempixel-5.jpg").img-responsive
					.m3d-tile__info.--badge
						span.left Printer parts
						span.right 10
			.col-md-3.col-sm-6.mt30
				.m3d-tile
					a(href="").m3d-tile__content
						img(src="/images/models/lorempixel-6.jpg").img-responsive
					.m3d-tile__info.--badge
						span.left Jewelery
						span.right 6
			.col-md-3.col-sm-6.mt30
				.m3d-tile
					a(href="").m3d-tile__content
						img(src="/images/models/lorempixel-7.jpg").img-responsive
					.m3d-tile__info.--badge
						span.left Other
						span.right 4
			


	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js")
	script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")