<!DOCTYPE html>
html#csstyle(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="css/app.css")
	link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext")
body
	nav(role="navigation").navbar.navbar-default
		.container
			.row
				.col-lg-12
					.navbar-header
						button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle.collapsed
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a(href="/" ).navbar-brand
							img(src="/images/logo_sm.png", alt="")
							img(src="/images/logo2_sm.png" alt="")
					.collapse.navbar-collapse.navbar-ex1-collapse.navbar-right
						ul.nav.navbar-nav 
							li: a(href="howitworks.html") How it works
							li: a(href="categories.html") Categories
							li: a(href="print.html") Print Your Model
							li: a(href="signup.html") Sign up
							li: a(href="login.html") Login
							li.dropdown
								a.dropdown-toggle(href="#", data-toggle="dropdown",role="button", aria-expanded="false")
									| hoblikj@gmail.com
									span.caret
								ul.dropdown-menu(role="menu")
									li: a(href="#modal-edit" data-toggle='modal') Edit profile
									li: a(href="#modal-cart" data-toggle='modal') Shopping cart
			

	.container
		.row.mt20
			h1.text-center(class="+txtshadow") What do you want to print today ?
			.col-lg-12.mt20
				.m3d-searchbar
				input(type="search" autocomplete="off" autofocus="autofocus" placeholder="Robot...").m3d-searchbar__input
				span.glyphicon.m3d-searchbar__icon.--loupe
		//- .row.mt20
		//- 	.col-lg-12
		//- 		h3.text-center Search results
		//- 		.row.mt40
		//- 			.col-lg-3
		//- 				.m3d-tile
		//- 					a(href="").m3d-tile__content
		//- 						img(src="http://lorempixel.com/300/300/technics").img-responsive
		//- 					.m3d-tile__info
		//- 						span.title Robot
		//- 						span.price 30 &euro;
		//- 			.col-lg-3
		//- 				.m3d-tile
		//- 					a(href="").m3d-tile__content
		//- 						img(src="http://lorempixel.com/300/300/technics").img-responsive
		//- 					.m3d-tile__info
		//- 						span.title Chobot
		//- 						span.price 10 &euro;
		//- 			.col-lg-3
		//- 				.m3d-tile
		//- 					a(href="").m3d-tile__content
		//- 						img(src="http://lorempixel.com/300/300/technics").img-responsive
		//- 					.m3d-tile__info
		//- 						span.title Bobot
		//- 						span.price 15 &euro;
		//- 			.col-lg-3
		//- 				.m3d-tile
		//- 					a(href="").m3d-tile__content
		//- 						img(src="http://lorempixel.com/300/300/technics").img-responsive
		//- 					.m3d-tile__info
		//- 						span.title Makerbot
		//- 						span.price 20 &euro;
		.row.mt20
			.col-lg-12
				h3 Recently printed
				.row
					.col-md-3.col-sm-6.mt30
						.m3d-tile
							a(data-toggle='modal', href='#modal-1').m3d-tile__content
								img(src="/images/models/lorempixel.jpg").img-responsive
							.m3d-tile__info
								span.left Robot
								span.right 30 &euro;
					.col-md-3.col-sm-6.mt30
						.m3d-tile
							a(data-toggle='modal', href='#modal-2').m3d-tile__content
								img(src="/images/models/lorempixel-1.jpg").img-responsive
							.m3d-tile__info
								span.left Chobot
								span.right 10 &euro;
					.col-md-3.col-sm-6.mt30
						.m3d-tile
							a(href="").m3d-tile__content
								img(src="/images/models/lorempixel-2.jpg").img-responsive
							.m3d-tile__info
								span.left Bobot
								span.right 15 &euro;
					.col-md-3.col-sm-6.mt30
						.m3d-tile
							a(href="").m3d-tile__content
								img(src="/images/models/lorempixel-3.jpg").img-responsive
							.m3d-tile__info
								span.left Makerbot
								span.right 20 &euro;
	
	#modal-1.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
				h2.modal-title.text-center(style="color:black") Random Tool
				.modal-body
					img(src="/images/models/lorempixel.jpg").img-responsive
				.modal-footer
					a(href="tools.html").left Category: Tools
					span.left Price: 30 &euro;
					span.left.fa.fa-clock-o  25 mins
					button.btn.btn-primary.btn-lg(type='button') Register

	#modal-2.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
				h2.modal-title.text-center(style="color:black") Random Tool
				.modal-body
					img(src="/images/models/lorempixel.jpg").img-responsive
				.modal-footer
					a(href="tools.html").left Category: Tools
					span.left Price: 10 &euro;
					span.left.fa.fa-clock-o  55 mins
					button.btn.btn-primary.btn-lg(type='button').fa.fa-shopping-cart.--loggedin

	#modal-edit.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
				h2.modal-title.text-center(style="color:black") Edit profile
				.modal-body.--padding
					.row
						.col-lg-10.col-lg-offset-1
							input(type="text" autocomplete="off").m3d-searchbar__input.--lowercase.--gray
							label Email
					.row.mt20
						.col-lg-10.col-lg-offset-1
							input(type="text" autocomplete="off").m3d-searchbar__input.--lowercase.--gray
							label First
					.row.mt20
						.col-lg-10.col-lg-offset-1
							input(type="text" autocomplete="off").m3d-searchbar__input.--lowercase.--gray
							label Last
					.row.mt20
						.col-lg-10.col-lg-offset-1
							input(type="text" autocomplete="off").m3d-searchbar__input.--lowercase.--gray
							label Street
					.row.mt20
						.col-lg-10.col-lg-offset-1
							input(type="text" autocomplete="off").m3d-searchbar__input.--lowercase.--gray
							label Town

					.row.mt20
						.col-lg-10.col-lg-offset-1
							input(type="text" autocomplete="off").m3d-searchbar__input.--lowercase.--gray
							label State
					.row.mt20
						.col-lg-10.col-lg-offset-1
							input(type="text" autocomplete="off").m3d-searchbar__input.--lowercase.--gray
							label Zip
				.modal-footer
					//- a(href="tools.html").left Category: Tools
					//- span.left Price: 30 &euro;
					//- span.left.fa.fa-clock-o  25 mins
					button.btn.btn-primary.btn-lg(type='button').mt20 Save changes

	#modal-cart.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
				h2.modal-title.text-center(style="color:black")
					i.fa.fa-shopping-cart  Shopping cart
				.modal-body.--padding
					.row.mt20
						.col-lg-10.col-lg-offset-1
							.modal-body__item
								span Super duper item
								div.pull-right.ml20
									button.btn.btn-primary.btn-sm(type='button' class="+font-md").ml20 +
									button.btn.left.btn-default.btn-sm(type='button') -
								div.pull-right
									span.ml20 x
									span.ml20 2
									span.ml20 =
									span.ml20 24 &euro;
					.row.mt20
						.col-lg-10.col-lg-offset-1
							.modal-body__item
								span Super duper item
								div.pull-right.ml20
									button.btn.btn-primary.btn-sm(type='button' class="+font-md").ml20 +
									button.btn.left.btn-default.btn-sm(type='button') -
								div.pull-right
									span.ml20 x
									span.ml20 3
									span.ml20 =
									span.ml20 35 &euro;

					.row.mt20
						.col-lg-10.col-lg-offset-1
							.modal-body__item
								span Super duper item
								div.pull-right.ml20
									button.btn.btn-primary.btn-sm(type='button' class="+font-md").ml20 +
									button.btn.left.btn-default.btn-sm(type='button') -
								div.pull-right
									span.ml20 x
									span.ml20 1
									span.ml20 =
									span.ml20 14 &euro;
					hr

					.row.mt20
						.col-lg-10.col-lg-offset-1
							.modal-body__item
								span Total
								span.pull-right.price 73 &euro;

				.modal-footer.mt20
					button.left.btn.btn-default.btn-lg(type='button') Close
					a(href="#modal-cart_order" data-toggle="modal").btn.btn-primary.btn-lg Next


	#modal-cart_order.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
				h2.modal-title.text-center(style="color:black")
					i.fa.fa-shopping-cart  Shopping cart
				.modal-body.--padding
					.row.mt20
						.col-lg-10.col-lg-offset-1
							.modal-body__item
								span Super duper item
								
								div.pull-right
									span.ml20 x
									span.ml20 2
									span.ml20 =
									span.ml20 24 &euro;
					.row.mt20
						.col-lg-10.col-lg-offset-1
							.modal-body__item
								span Super duper item
								
								div.pull-right
									span.ml20 x
									span.ml20 3
									span.ml20 =
									span.ml20 35 &euro;

					.row.mt20
						.col-lg-10.col-lg-offset-1
							.modal-body__item
								span Super duper item
								
								div.pull-right
									span.ml20 x
									span.ml20 1
									span.ml20 =
									span.ml20 14 &euro;
					hr

					.row.mt10
						.col-lg-10.col-lg-offset-1
							.modal-body__item
								span Total
								span.pull-right 73 &euro;
					hr

					.row.mt10
						.col-lg-10.col-lg-offset-1
							.modal-body__item
								span Delivery information
								span.pull-right Jakub Hoblík

					.row.mt10
						.col-lg-10.col-lg-offset-1
							.modal-body__item
								span.pull-right Nam. sv. Anny 260ú
					.row.mt10
						.col-lg-10.col-lg-offset-1
							.modal-body__item
								span.pull-right Trenčín, 91101
					.row.mt10
						.col-lg-10.col-lg-offset-1
							.modal-body__item
								span.pull-right Slovensko
								
											

				.modal-footer.mt20
					button.left.btn.btn-default.btn-lg(type='button') Close
					button.pull-left.btn.btn-primary.btn-lg(type='button') Previous
					button.btn.btn-primary.btn-lg(type='button') Send order

	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js")
	script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")