<!DOCTYPE html>
html#csstyle(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="css/app.css")
	link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext")
body
	
	nav(role="navigation").navbar.navbar-default
		.container
			.row
				.col-lg-12
					.navbar-header
						button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle.collapsed
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a(href="/" ).navbar-brand
							img(src="/images/logo_sm.png", alt="")
							img(src="/images/logo2_sm.png", alt="")
					.collapse.navbar-collapse.navbar-ex1-collapse.pull-right
						ul.nav.navbar-nav 
							li.active: a(href="categories.html") Categories
							li: a(href="print.html") Print Your Model
							li: a(href="signup.html") Sign up
							li: a(href="login.html") Login

	.container
		.row
			.col-lg-12
				h2 Categories / Tools 
		.row
			.col-md-3.col-sm-6.mt30
				.m3d-tile
					a(data-toggle='modal', href='#modal-1').m3d-tile__content
						img(src="/images/models/lorempixel.jpg").img-responsive
					.m3d-tile__info
						span.left Robot
						span.right 30 &euro;
			.col-md-3.col-sm-6.mt30
				.m3d-tile
					a(href="").m3d-tile__content
						img(src="/images/models/lorempixel-1.jpg").img-responsive
					.m3d-tile__info
						span.left Chobot
						span.right 10 &euro;
			.col-md-3.col-sm-6.mt30
				.m3d-tile
					a(href="").m3d-tile__content
						img(src="/images/models/lorempixel-2.jpg").img-responsive
					.m3d-tile__info
						span.left Bobot
						span.right 15 &euro;
			.col-md-3.col-sm-6.mt30
				.m3d-tile
					a(href="").m3d-tile__content
						img(src="/images/models/lorempixel-3.jpg").img-responsive
					.m3d-tile__info
						span.left Makerbot
						span.right 20 &euro;
		
		#modal-1.modal.fade
			.modal-dialog
				.modal-content
					.modal-header
					h2.modal-title.text-center(style="color:black") Random Tool
					.modal-body
						img(src="/images/models/lorempixel.jpg").img-responsive
					.modal-footer
						span.left Category: Tools
						span.left Price: 30 &euro;
						button.btn.btn-primary.btn-lg(type='button') Register
			


	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js")
	script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")