<h1 class="mb20 --inline">Users</h1>
{{#link-to 'users.create' class="btn btn-success btn-md ml20 --text-align"}}Create{{/link-to}}
{{items-list
	items=sortedModel
	properties="id,email, first_name, last_name"
	showRoute="users.show"
	editRoute="users.edit"
	resource="users"
	delete="delete"
	edit="edit"
}}
