script(type="text/template", id="print-template")
	.container
		.row.mt20
			h1.text-center.--shadow Upload your model and let us print it for you !
		.row.mt40.text-center
			.m3d-upload.btn.btn-lg
				i.fa.fa-cloud.m3d-upload__icon
				input(id="upload_input", type="file")
				span Upload model
	//- .row
	//- 	.col-md-12
	//- 		form(id="upload")
	//- 			h1 Print
	//- 			div.form-group
	//- 				label Upload model for printing:
	//- 				input.form-control(type="file",name="file",required)
	//- 			button(type="submit").btn.btn-primary Upload
